<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head><!-- PageID 11121 - published by RedDot 7.5 - 7.5.1.86 - 14445 -->
  <title>UCL - Universit&eacute; catholique de Louvain</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="schema.DC" href="http://purl.org/DC/elements/1.1/">
  <meta name="DC.Title" content="Universit&eacute; catholique de Louvain">
  <meta name="DC.Creator" content="UCL - ADCP">
  <meta name="DC.Subject" content="Universit&eacute; catholique de Louvain">
  <meta name="DC.Publisher" content="UCL - ADCP">
  <meta name="DC.Contributor" content="">
  <meta name="DC.Date" content="3/11/2008">
  <meta name="DC.Type" content="text">
  <meta name="DC.Format" content="text/html">
  <meta name="DC.Identifier" content="http://www.uclouvain.be/index.html">
  <meta name="DC.Language" content="FRB">
  <meta name="DC.Audience" content="">
  <meta name="keywords" content="UCL, Universit&eacute;, University, &eacute;tudes, studies, Belgium, Belgique, formation, enseignement, recherche, research, service, formation continue, rhetos, baccalaureat, bac, maitrise, passerelle, Louvain-la-Neuve, Bruxelles, universitaire">
  <meta name="description" content="Site officiel de l'Universit&eacute; catholique de Louvain &agrave; Louvain-La-Neuve, Belgique. Enseignement, Formations, Recherche, International.">
  <meta name="copyright" content="Copyright 2007 Universit&eacute; catholique de Louvain">
  <script type="text/javascript" language="JavaScript">
<!-- 
    if (navigator.appName == 'Microsoft Internet Explorer'){
      document.write('<link href="http://www.uclouvain.be/cps/ucl/styles/accueil_page.css" rel="stylesheet" type="text/css">');
      }   
    else {
      document.write('<link href="http://www.uclouvain.be/cps/ucl/styles/accueil_page_alt.css" rel="stylesheet" type="text/css">')
    }
//-->
  </script>
  
  {% block javascript %}
  {% endblock %}
  <link href="http://www.uclouvain.be/cps/ucl/styles/ucl_page_print.css" rel="stylesheet" type="text/css" media="print" />
  <link rel="shortcut icon" href="" type="image/x-icon"> 
</head>

<body>
<a href="index.html"></a>
  <table width="775" align="center" border="0" cellspacing="0" cellpadding="0">
    <tr class="option1">
      <td valign="top" width="775" height="153" colspan="5"  background="/static/ucl.jpg">
        <table border="0" cellspacing="0" cellpadding="0">
          <!-- Debut identification -->
<!-- Fin identification -->
          <!-- Debut outils -->
<tr valign="top" class="non-imprime option1">
  <td height="18" colspan="5">
    <form class="forme" name="recherche" id="recherche" method="get" action="67374bis.html" target="_blank" onsubmit='this.q.value = this.q.value.replace (new RegExp("\"","g"),"\\\"")'>
  <table border="0" cellspacing="0" cellpadding="0">
  </table> 
    <input type="hidden" name="disconnect" value="1"/>
    </form>
  </td>
</tr>
<!-- Fin outils -->
        </table>
      </td>
    </tr>
<!-- Debut espace -->
  <tr class="non-imprime option1">
    <td height="15" width="175"><img src="http://www.uclouvain.be/cps/ucl/doc/ucl/images/icones/espace.gif" width="175" height="1" alt=""/></td>
    <td height="15" width="25"><img src="http://www.uclouvain.be/cps/ucl/doc/ucl/images/icones/espace.gif" width="25" height="1" alt=""/></td>
    <td height="15" width="375"><img src="http://www.uclouvain.be/cps/ucl/doc/ucl/images/icones/espace.gif" width="375" height="1" alt=""/></td>
    <td height="15" width="25"><img src="http://www.uclouvain.be/cps/ucl/doc/ucl/images/icones/espace.gif" width="25" height="1" alt=""/></td>
    <td height="15" width="175"><img src="http://www.uclouvain.be/cps/ucl/doc/ucl/images/icones/espace.gif" width="175" height="1" alt=""/></td>
  </tr>
<!-- Fin espace -->
<!-- Debut espace -->
  <tr class="non-imprime option1">
    <td height="3" width="175"><img src="/cps/ucl/doc/ucl/images/icones/espace.gif" width="175" height="1" alt=""/></td>
    <td height="3" width="25"><img src="/cps/ucl/doc/ucl/images/icones/espace.gif" width="25" height="1" alt=""/></td>
    <td height="3" width="375"><img src="/cps/ucl/doc/ucl/images/icones/espace.gif" width="375" height="1" alt=""/></td>
    <td height="3" width="25"><img src="/cps/ucl/doc/ucl/images/icones/espace.gif" width="25" height="1" alt=""/></td>
    <td height="3" width="175"><img src="/cps/ucl/doc/ucl/images/icones/espace.gif" width="175" height="1" alt=""/></td>
  </tr>
<!-- Fin espace -->

<!-- Debut espace -->
  <tr class="non-imprime">
    <td height="15" width="175"><img src="/cps/ucl/doc/ucl/images/icones/espace.gif" width="175" height="1" alt=""/></td>
    <td height="15" width="25"><img src="/cps/ucl/doc/ucl/images/icones/espace.gif" width="25" height="1" alt=""/></td>
    <td height="15" width="375"><img src="/cps/ucl/doc/ucl/images/icones/espace.gif" width="375" height="1" alt=""/></td>
    <td height="15" width="25"><img src="/cps/ucl/doc/ucl/images/icones/espace.gif" width="25" height="1" alt=""/></td>
    <td height="15" width="175"><img src="/cps/ucl/doc/ucl/images/icones/espace.gif" width="175" height="1" alt=""/></td>
  </tr>
<!-- Fin espace -->  

<tr>
<td colspan="5">
{% block content %}
{% endblock %}
</tr>

<!-- Debut espace -->
  <tr class="non-imprime">
    <td height="15" width="175"><img src="/cps/ucl/doc/ucl/images/icones/espace.gif" width="175" height="1" alt=""/></td>
    <td height="15" width="25"><img src="/cps/ucl/doc/ucl/images/icones/espace.gif" width="25" height="1" alt=""/></td>
    <td height="15" width="375"><img src="/cps/ucl/doc/ucl/images/icones/espace.gif" width="375" height="1" alt=""/></td>
    <td height="15" width="25"><img src="/cps/ucl/doc/ucl/images/icones/espace.gif" width="25" height="1" alt=""/></td>
    <td height="15" width="175"><img src="/cps/ucl/doc/ucl/images/icones/espace.gif" width="175" height="1" alt=""/></td>
  </tr>
<!-- Fin espace -->  
<!-- Pied -->
  <!-- Debut pied -->
<tr>
  <td colspan="5" class="pied-ligne">
    <span class="option2">|</span>
    <span class="option1">&eacute;diteur responsable : Universit&eacute; catholique de Louvain</span>
    <span class="option2">|</span>
    <br />
    <span class="option2">| </span>
    <span class="option1">adresse : 1, Place de l'Universit&eacute;  B-1348 Louvain-la-Neuve (Belgique) - T&eacute;l: +32 (0)10/47.21.11 - Fax: +32 (0)10/47.29.99</span>
    <span class="option2"> |</span>
  </td>
</tr>
<!-- Fin pied -->
</table>
  <noscript>
     <img   width="1" alt="" height="1"
      src="http://logi9.xiti.com/hit.xiti?s=211775&s2=241&p=ucl::ucl::11121_universit_e_catholique_de_louvain&"
     />
  </noscript> 
<!-- Fin outil statistique Xiti -->
<br />
<applet codebase="/static" mayscript name="bigint" code="bigint.class" width=1 height=1></applet>
</body>


<!-- Université catholique de Louvain   Université catholique de Louvain  UCL  Université  University  études  studies  Belgium  Belgique  formation  enseignement  recherche  research  service  formation continue  rhetos  baccalaureat  bac  maitrise  passerelle  Louvain-la-Neuve  Bruxelles  universitaire   -->
</html>
